/* Custom styles for line navigation */
.custom-dot-list-style {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
  
  .custom-dot-list-style .react-multi-carousel-dot {
    display: inline-block;
    width: 10px; /* Adjust width of each dot if needed */
    height: 2px; /* Height of the line */
    margin: 0 5px; /* Adjust spacing between dots */
    cursor: pointer;
    background-color: #571919; /* Color of the line */
    border-radius: 1px; /* Adjust border radius for rounded effect */
  }
  
  .custom-dot-list-style .react-multi-carousel-dot--active {
    background-color: #333; /* Color of the active dot or line segment */
  }
  
  /* tooltipStyles.css */
.custom-tooltip {
  background-color: #333; /* Dark background color */
  color: #fff;            /* White text color */
  border-radius: 4px;    /* Rounded corners */
  padding: 8px;          /* Padding */
  font-size: 12px;       /* Font size */
}
.custom-date-range-picker {
  font-size: 14px; /* Font size for the overall picker */
}

.custom-date-range-picker .rdrCalendarWrapper {
  font-size: 14px; /* Font size in the calendar */
}

.custom-date-range-picker .rdrDateDisplay {
  font-size: 14px; /* Font size in the date input display */
  padding: 24px; /* Padding around date display */
}

.custom-date-range-picker .rdrDay {
  font-size: 14px; /* Font size for individual days */
}

.custom-date-range-picker .rdrMonthAndYearPickers {
  font-size: 14px; /* Font size for month and year selectors */
}

.custom-date-range-picker .rdrDefinedRangesWrapper {
  font-size: 14px; /* Font size for predefined ranges */
}
